* {
	margin: 0;
	padding: 0;
}
/* This makes it so that there is not space betweent the background and the edge of the page */

.aboutTitle{
	border-bottom: 1px solid black;
	font-family: RobotoDraft;
	font-size: 40px;
	font-weight: 500;

	padding: 16px;
}
/* This changes the size and font of the title for the about part */

.title{
  color: white;
  border: 2px solid white;

  font-family: RobotoDraft;
  font-size: 70px;
  font-weight: 200;
  letter-spacing: .25em;
  text-align: center;

  padding: 20px;
  margin-right: 35vw;
  }
/* This changes the size, font and placement of the main title */

.myBackground{

    background: url("1465147.jpg") no-repeat center scroll;
    background-size: cover;

    padding: 10%;

  }
/* This changes the background behind the main title */

.about{

  font-family: RobotoDraft;
  font-size: 18px;

	padding: 16px;
	padding-right: 35vw;

	text-align: left;
}
/* These are the settings for the about text */

.image1{
	margin-left: 70vw;
	margin-top: -95vh;
    margin-bottom: 95vh;

	border: 5px solid;
}
/* These two are the settings for the two images */
.image2{
	margin-left: 70vw;
	margin-top: -85vh;
    margin-bottom: 85vh;

	border: 5px solid;
}
