* {
	margin: 0;
	padding: 0;
}

.aboutTitle{
	border-bottom: 1px solid black;
	font-family: RobotoDraft;
	font-size: 40px;
	font-weight: 500;

	padding: 16px;
}

.title{
  color: white;
  border: 2px solid white;

  font-family: RobotoDraft;
  font-size: 100px;
  font-weight: 300;
  letter-spacing: .25em;
  text-align: center;

  padding: 20px;
  margin-right: 550px;
  }

.myBackground{

    background: url("1465147.jpg") no-repeat center scroll;
    background-size: cover;

    padding: 250px;

  }

.about{

  font-family: RobotoDraft;
  font-size: 20px;

	padding: 16px;
	padding-right: 600px;

	text-align: left;
}

.image{
	margin-left: 1400px;
	margin-top: -750px;
	margin-bottom: 100px;
}
